.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  letter-spacing: 4px;
  padding-top: 5rem;

  min-height: 250px;
  font-family: "RobotoReg", sans-serif;
  box-shadow: rgb(255, 255, 255) 50px -150px 50px -65px inset;
  background: linear-gradient(45deg, #fa8bff 15%, #2bd2ff 59%, #2bff88 90%);
  background-size: 400% 400%;
  animation-name: animate-gradient;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.header-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-top: 4px;
}

.header-container h1 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.header-container h3 {
  font-size: 1rem;
  color: #3f01ed;
}

.header-container svg {
  width: 75px;
  height: 75px;
}

@keyframes animate-gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    min-height: 400px;
  }

  .header-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .header-container h3 {
    font-size: 2rem;
  }
  .header-container svg {
    width: 125px;
    height: 125px;
  }
}
